name: Microase CI Pipeline

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Node (for Newman)
      uses: actions/setup-node@v4
      with:
        node-version: 18

    - name: Install Newman
      run: npm install -g newman

    - name: Set up Docker
      uses: docker/setup-buildx-action@v3

    # -------------------
    # CALC – unit test
    # -------------------
    - name: Build calc
      run: docker build -t calc-test ./src/calc

    - name: Run calc
      run: docker run -d -p 5000:5000 --name calc calc-test

    - name: Test calc with Newman
      run: newman run tests/calc_ut.postman_collection.json

    - name: Stop calc
      run: docker rm -f calc

    # -------------------
    # STRING – unit test
    # -------------------
    - name: Build string
      run: docker build -t string-test ./src/string

    - name: Run string
      run: docker run -d -p 5000:5000 --name string string-test

    - name: Test string with Newman
      run: newman run tests/string_ut.postman_collection.json

    - name: Stop string
      run: docker rm -f string

    # -------------------
    # INTEGRATION TEST
    # -------------------
    - name: Build full architecture
      run: docker compose -f src/docker-compose.yml up -d --build

    - name: Integration tests
      run: newman run tests/integration.postman_collection.json

    - name: Stop architecture
      run: docker compose -f src/docker-compose.yml down
